#notifications-dropdown {
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        background-color: #17A2B8;
    }
    .dropdown-menu{
      top: 60px;
      right: 0px;
      left: unset;
      width: 460px;
      box-shadow: 0px 5px 7px -1px #c1c1c1;
      padding-bottom: 0px;
      padding: 0px;
    }
    .head{
      padding:5px 15px;
      border-radius: 3px 3px 0px 0px;
    }
    .footer{
      padding:5px 15px;
      border-radius: 0px 0px 3px 3px; 
    }
    .notification-box{
      padding: 10px 0px; 
    }
    .bg-gray{
      background-color: #eee;
    }
    
    @media (max-width: 640px) {
        .dropdown-menu{
          top: 50px;
          left: -16px;  
          width: 290px;
        } 
        .nav{
          display: block;
        }
        .nav .nav-item,.nav .nav-item a{
          padding-left: 0px;
        }
        .message{
          font-size: 13px;
        }
    }

    // notifications bell icon with the badge
    .p1[data-count]:after{
        position:absolute;
        right:10%;
        top:8%;
        content: attr(data-count);
        font-size:60%;
        padding:.2em;
        border-radius:50%;
        line-height:1em;
        color: white;
        background:rgba(255,0,0,.85);
        text-align:center;
        min-width: 1em;
        font-weight:bold;
    }

    // dropdown menu position
    .dropdown-menu {
        position: sticky;
    }

    @media (min-width: 992px){
        .dropdown-menu {
            position: absolute;
        }
    }
}